<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toy Details</title>
    <%- include('../partials/styling.ejs') %>
</head>

<body>
    <%- include('../partials/navbar.ejs') %>

        <h1>Details for <%= toy.Name %>
        </h1>
        <small><i>id: <%= toy.id %></i></small>

        <form action="/toys/<%= toy.id %>/update" method="post">
            <label for="toy-name">Toy name: </label>
            <input id="toy-name" name="Name" type="text" value="<%= toy.Name %>">

            <button type="submit">Update 🪀</button>
        </form>
        <br>
        <% if (toy.Animals.length> 0) { %>
            <h2>Associated with these animals:</h2>
            <ul>
                <% toy.Animals.forEach(a=> { %>
                    <a href="/animals/<%= a.id %>">
                        <li>
                            <%= a.Name %>
                        </li>
                    </a>
                    <% }) %>
            </ul>
            <% } else { %>
                <h2>No animals associated with <%= toy.Name %>
                </h2>
                <% } %>
                    <br>
                    <% if (locals.user && locals.user.role.Name==="Admin" ) { %>
                        <form action="/toys/<%= toy.id %>/delete" method="post">
                            <button type="submit">Delete</button>
                        </form>
                        <% } %>
</body>

</html>