<!DOCTYPE html>
<html>

<head>
    <title>
        DAB User Details
    </title>
    <link rel="stylesheet" href="/stylesheets/base.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <%-include('../partials/styling.ejs')%>
</head>

<body>
    <%-include('../partials/navbar.ejs')%>
    <div class="container">
        <h2 class="text-center text-primary"><i><%=user.firstName%> <%=user.lastName%></i></h2>
        <p><b>Username: </b><i><%= locals.user.username %></i></p>
        <p><b>Role: </b><i><%= locals.user.role.Name %></i></p>
        <p><b>Role ID: </b><i><%= locals.user.role.id %></i></p>
    </div>
</body>

</html>